.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 28px 0;

    .navbar__left {
        a {
            text-decoration: none;
            font-size: 30px;
            color: #222222;
            transition: transform 0.3s ease-in-out;

            &:hover {
                padding: 5px 10px;
                transform: scale(1.1);
                border: 2px solid #000;
                border-radius: 15px;
                animation: border-animation 2s infinite;
            }
        }
    }

    .navbar__center {
        width: 35%;

        input {
            width: 100%;
            border-radius: 20px;
            padding: 10px;
            outline: none;
        }
    }

    .navbar__right {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 1.5rem;

        img {
            width: 39px;
            height: 39px;
            border-radius: 50%;
        }
    }
}