nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

/* Topnavbar styles and hover styles starts */
.topnavbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    align-items: center;
    padding: 20px;
    font-family: "Arbutus Slab";
    font-size: 14px;
    position: relative;
    transition: border-bottom-color 0.3s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        border-bottom-color: var(--color-dark-red);
    }

    &:hover:before {
        transform: scaleX(1);
    }

    .topnavbar__left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;

        .logo-img {
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                border: 2px solid #000;
                animation: border-animation 2s infinite;
            }
        }

        .topnavbar__nav {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 50px;

            .topnavbar__nav-item {
                display: inline-block;
                margin-right: 15px;
                position: relative;
                padding-top: 12px;

                .topnavbar__nav-link {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: var(--color-dark);
                    transition: transform 0.3s ease-in-out;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: var(--color-dark);
                        transition: width 0.5s ease-in-out;
                    }


                    &:hover {
                        transform: scale(1.1);
                        font-weight: bold;
                    }

                    &:hover:before {
                        width: 100%;
                        animation: underline 0.6s linear;
                    }
                }
            }
        }



    }

    .topnavbar__right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .search-wrapper {
            position: relative;

            input {
                width: 100%;
                border-radius: 15px;
                padding: 5px;
                outline: none;
            }

            .search-button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .search_box {
                position: absolute;
                background: var(--color-white);
                width: 100%;
                box-shadow: 0 15px 25px 5px lightblue;

                .searchUserData {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 10px 15px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                        font-size: 15px;
                    }
                }


            }
        }

        .topnavbar__form {
            & input[type="text"]:hover::placeholder {
                font-size: 14px;
                transition: font-size 0.3s ease-in-out;
            }

            & input[type="text"]:hover,
            & input[type="text"]:focus {
                animation: border-animation 2s infinite;
            }
        }


        & .dropdown-toggle {
            background: transparent;
            border: none;
        }
    }
}





/* logo (image) styles and hover styles start */
@keyframes border-animation {
    0% {
        border-color: var(--color-light);
    }

    25% {
        border-color: var(--color-dark-light);
    }

    50% {
        border-color: var(--color-dark-red);
    }

    75% {
        border-color: var(--color-primary);
    }

    100% {
        border-color: var(--color-primary-secondary);
    }
}

/* link (image) styles and hover styles start */
@keyframes underline {
    0% {
        left: 0;
        width: 0;
    }

    25% {
        left: 0;
        width: 100%;
    }

    50% {
        left: 100%;
        width: 0;
    }

    75% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 0;
        width: 100%;
    }
}

/* Search box styles and hover styles starts */


@keyframes border-animation {
    0% {
        border-color: var(--color-light);
        box-shadow: 0 0 5px var(--color-light);
    }

    50% {
        border-color: var(--color-dark-red);
        box-shadow: 0 0 5px var(--color-dark-red);
    }

    100% {
        border-color: var(--color-primary);
        box-shadow: 0 0 5px var(--color-primary);
    }
}

.dropdown {
    position: relative;

    .dropdown-menu {
        position: absolute;
        padding: 10px 30px;
        top: 20px;
        right: 0;
        background: #eaeaea;
        flex-direction: column;
        gap: 5px;
        list-style: none;



        .dropdown-item {
            font-family: 'Arbutus Slab';
            font-size: 14px;
            transition: all 0.3s ease;
            text-decoration: none;
            color: #000;

            &:hover {
                transform: scale(1.1);
            }
        }

        .dropdown-divider {
            border: none;
            height: 2px;
            background-color: #000;
            margin: 0.5rem 0;
            opacity: 0.5;
        }
    }
}



.dropdown .btn:hover {
    transform: scale(1.1);
}



@media (max-width: 650px) {
    .topnavbar .topnavbar__left .topnavbar__nav {
        gap: 5px;
    }

}

/* Media query styles for 576 px size user window starts */
@media (max-width: 500px) {
    .topnavbar .topnavbar__left .topnavbar__nav {
        display: none;
    }
}



/* Media query styles for 576 px size user window ends */