.create-post {
    .profile__photo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        &>div {
            position: relative;
            display: flex;
            gap: 15px;
            width: 100%;
            align-items: center;
        }

        .custom__file_upload {
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translate(0, -40%);
            cursor: pointer;
            font-size: 25px;
        }

        .btn {
            border: none;
            padding: 5px 20px;
            border-radius: 10px;
            color: var(--color-white);
            background: linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
            cursor: pointer;

            &:hover {
                background: transparent;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
            }
        }
    }

    label i {
        font-size: 2rem;
        color: var(--color-dark);
    }

    input[type="file"] {
        display: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 15px;
        padding-left: 50px;
        outline: none;
        border-radius: 20px;
    }
}

.container input:checked~.checkmark {
    animation: like_effect 400ms ease;
}

.btnCloud {
    background-color: transparent;
    position: relative;
    fill: rgb(155, 153, 153);
    border: none;
}

.btnCloud::after {
    content: 'SAVE';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 3px 9px;
    border-radius: 5px;
    transition: 200ms linear;
    transition-delay: 200ms;
    color: rgb(142, 133, 133);
    font-size: 13px;
    visibility: hidden;
}

.icon {
    transform: scale(1.4);
    transition: 200ms linear;
}

.btnCloud:hover>.icon {
    transform: scale(1.7);
}

.btnCloud:hover>.icon path {
    fill: #505050;
    cursor: pointer;
}

.btnCloud:hover::after {
    visibility: visible;
    opacity: 1;
    top: -100%;
}


@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}