footer {
    background: #e0e0e0;
    width: 100%;
    bottom: 0;
    left: 0;

    .footer__content {
        max-width: 1250px;
        margin: auto;
        padding: 30px 40px 40px 40px;

        .footer__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            .logo-details {
                color: #fdd166;
                font-size: 30px;
            }

            .footer__media_icons {
                display: flex;

                a {
                    height: 40px;
                    width: 40px;
                    margin: 0 8px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                    font-size: 17px;
                    text-decoration: none;
                    transition: all 0.4s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        animation: slide-in-top 0.3s both;
                    }

                    &:nth-child(1) {
                        background: #4267b2;

                        &:hover {
                            color: #4267b2;
                            background: var(--color-black);
                        }
                    }

                    &:nth-child(2) {
                        color: #fff;
                        background: #f09433;
                        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
                        transition-duration: .3s;
                        ;

                        &:hover {
                            color: #e1306c;
                            background: var(--color-black);
                        }
                    }
                }
            }
        }

        .footer__link_boxes {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .first__box,
            .secound__box {
                display: flex;
                justify-content: space-around;
                width: 50%;

                .box {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    .link_name {
                        color: var(--color-black);
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            height: 2px;
                            width: 35px;
                            background: #d29f1e;
                        }
                    }

                    li {
                        margin: 6px 0;
                        list-style: none;

                        a {
                            color: var(--color-black);
                            font-size: 14px;
                            font-weight: 400;
                            text-decoration: none;
                            opacity: 0.8;
                            transition: all 0.4s ease;

                            &:hover {
                                opacity: 1;
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }
        }
    }

    .footer__bottom_details {
        width: 100%;
        background: #fff;
        border-top: 0.5px solid #fff;

        .bottom__text {
            max-width: 1250px;
            margin: auto;
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;

            a {
                margin-right: 10px;
            }

            span,
            a {
                font-size: 14px;
                font-weight: 300;
                color: var(--color-black);
                font-weight: bold;
                opacity: 0.8;
                text-decoration: none;
            }

            a:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }

    @media (max-width:955px) {
        .footer__content .footer__link_boxes {
            flex-direction: column;
            justify-content: normal;
            align-items: center;
            gap: 15px;

            .first__box,
            .secound__box {
                justify-content: space-between;

                @media (max-width:500px) {
                    flex-direction: column;
                    gap: 15px;
                }

            }
        }
    }
}