::-webkit-scrollbar {
    width: 0px;
}
.homeController {
    display: grid;
    grid-template-columns: 18% 60% 20%;
}

@media (max-width:750px) {
    .homeController {
        grid-template-columns: 15% 85%;
    }
}

@media (max-width:450px) {
    .homeController {
        position: relative;
        grid-template-columns: 100%;
    }
}