.homeContainer {
    width: 100%;
    display: flex;
    display: flex;
    height: calc(99vh - 50px);
    background: #fff;
    position: fixed;
}

/* Track */
/* width */
::-webkit-scrollbar {
    width: 0px;
}