.comment__main_conatainer {
    position: absolute;
    background: #2a2a2a;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    z-index: 500;

    * {
        margin: 0;
    }


    .comment__post {
        width: 50%;
        border: 5px solid black;
        border-radius: 15px;


        img,
        video {
            width: calc(100% - 20px);
            height: 97%;
            border: 10px solid white;
        }
    }

    .comment__data {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .comment__head {
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

        }

        .comment__container {
            color: white;
            display: flex;
            // align-items: center;
            gap: 10px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            strong {
                margin-right: 8px;
                font-size: 20px;
            }

            span {
                font-size: 15px;
            }
        }

        .commentControl__buttons {
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
        }

        .comment__footer {
            background: #4a4a4a;

            form {
                border: 1px solid white;
                border-radius: 20px;
                margin: 0 5px;
            }

            input {
                width: 90%;
                background: transparent;
                color: #fff;
                padding: 10px;
                border: none;
                outline: none;
            }

            button {
                background: transparent;
                border: none;
                color: #fff;
                font-weight: 600;
            }
        }

        .comment__head {
            display: flex;
            gap: 15px;
            align-items: center;
            background: #474747;
            color: #fff;
            width: 100%;
        }
    }

    @media (max-width:600px) {
        & {
            flex-direction: column;


            .comment__post {
                width: 98%;
                height: 300px;
            }

            .comment__data {
                width: 100%;
                height: 50%;
                position: relative;

                .comment__footer {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }

            }
        }
    }

}