 @import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Caveat:wght@700&family=Dancing+Script:wght@500&family=Inter:wght@300;400;500;600;800&display=swap');
:root {
    --color-primary:#cc2366 ;
    --color-primary-secondary:#bc1888 ;
    --color-dark-red: #dc2743;
    --color-light:#f09433 ;
    --color-dark-light: #e6683c;
    --color-black: #161617;
    --color-white: #fff;
    --color-danger: #fb5151;
    --color-online: #32cd32;
    

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
  }
/* 
.loader {
    width: 100%;
    height:4px;
    border-radius: 30px;
    background-color: #f1a14b;
    position: absolute;
    top: 92px;
    z-index: 1000;
}
          
.loader::before {
    content: "";
    position: absolute;
    background: var(--color-lite);
    background: -moz-linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
    background: -webkit-linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
    background: linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 2.5s ease-in-out infinite;
}
          
@keyframes moving {
50% {
    width: 100%;
}
          
100% {
    width: 0;
    right: 0;
    left: unset;
}
} */

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }

  .realimganimation {
    animation: rotate360 1s alternate infinite ease;
}

@keyframes pulse {
  0% {
    background-color: #c2c0c0;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    background-color: #626262;
    box-shadow: 0 0 0 1px rgba(178, 212, 252, 0);
  }

  100% {
    background-color: #c2c0c0;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

@keyframes rotate360 {
  /* Rotate from 0 degrees to 360 degrees */
  from {
      transform: rotate(360deg);
  }
  to {
      transform: rotate(360deg);
  }
}
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  