.rightbar {
    flex: 3.5;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rightWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: var(--font-size-small);
    color: var(--color-black);
}

.rightbarAd {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0 0 10px var(--color-light),
        5px 5px 10px var(--color-dark-red);
    // box-shadow: linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
    // ;
}

.rightbarTitle {
    text-align: center;
    background: linear-gradient(45deg, var(--color-light) 0%, var(--color-dark-light) 25%, var(--color-dark-red) 50%, var(--color-primary) 75%, var(--color-primary-secondary) 100%);
    color: var(--color-white);
    padding: 10px 0;
    border-radius: 20px;
    font-weight: 600;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-online);
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid var(--color-white);
}

.rightbarUserName {
    color: var(--color-black);
    font-size: calc(var(--font-size-small) + 3px);
    font-weight: 500;
}

@media (max-width:750px) {
    .rightbar {
        display: none;
    }
}